<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #563D7C; height: 90px;">
  <div class="container-fluid">
          <a class="navbar-brand" href="/"><h2 id="logo">Lugo</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline my-2 my-lg-0 ml-auto">
          <select name="" id="usuarioActual" class="form-control mr-3" #t (change)="cambiarUsuario(t.value)">
            <option value=""></option>
            <option *ngFor="let usuario of usuarios" value="{{usuario._id}}">{{usuario.nombre}} {{usuario.apellido}}</option>
          </select>
          <button class="btn btn-secondary my-2 my-sm-0 mr-2" type="button" (click)="verOrdenes()" data-toggle="modal" data-target="#modalUser">Ver Ordenes</button>
          <button type="button" class="btn btn-secondary my-2 my-sm-0" (click)="crearCategoria()">Agregar Nueva Categoria</button>
          </form>
      </div>
  </div>
</nav>

<main role="main" class="container" style="min-height: 100vh;">
    <div class="row mt-3 text-center mx-auto">
        <div class="col-lg-6 mx-auto">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 col-sm-12">
            <h2 id="texto-hola">

            </h2>
            <span id="texto-pregunta">
                ¿Que Necesitas?
            </span>
        </div>
    </div>
    <div id="contenedor-categorias" class="row mb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-2" *ngFor="let categoria of categorias">
        <div class="card-item card" style="background: #9CD0FA;" (click)="infoCategorias(categoria._id)">
          <div class="row">
              <div class="col mx-auto text-center m-3">
                  <img src="../assets/images/test.png" class="category-icon">
              </div>
              <div class="col"></div>
          </div>
          <div class="row m-3 mt-4">
              <section class="col">
                  <h3 class="text-white font-weight-bolder">{{ categoria.nombreCategoria }}</h3>
                  <p class="text-white" style="font-size: 13px;">
                    {{ categoria.empresas.length }} Comercios
                  </p>
              </section>
          </div>
        </div>
      </div>
    </div>
</main><!-- /.container -->
<br>
<footer style="height: 90px; background-color: #563D7C;"  class="mt-5">

</footer>

<!-- Modal -->
<ng-template #modalCreacionCategoria let-modal>
  <div class="modal-header" style="background-color: #563D7C;">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="formularioRegistro">
        <div class="form-group">
            <input [ngClass]="{'input-error':nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)}" formControlName="nombreCategoria" type="text" class="form-control" placeholder="Digite Nombre" required>
            <div *ngIf="nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)" class="error">
              <span *ngIf="nombreCategoria.errors.required">Error el campo es obligatorio</span>
            </div>
        </div>
        <div class="form-group">
            <input [ngClass]="{'input-error':descripcion.invalid && (descripcion.dirty || descripcion.touched)}" formControlName="descripcion"type="text" class="form-control" placeholder="Digite Descripcion">
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="error">
              <span *ngIf="descripcion.errors.required">Error el campo es obligatorio</span>
            </div>
        </div>
        <div class="form-group">
            <input [ngClass]="{'input-error':color.invalid && (color.dirty || color.touched)}" formControlName="color" type="text" class="form-control" placeholder="Digite Color">
            <div *ngIf="color.invalid && (color.dirty || color.touched)" class="error">
              <span *ngIf="color.errors.required">Error el campo es obligatorio</span>
            </div>
        </div>
        <div class="form-group">
            <input [ngClass]="{'input-error':icono.invalid && (icono.dirty || icono.touched)}" formControlName="icono" type="text" class="form-control" placeholder="Digite Icono">
            <div *ngIf="icono.invalid && (icono.dirty || icono.touched)" class="error">
              <span *ngIf="icono.errors.required">Error el campo es obligatorio</span>
            </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!formularioRegistro.valid" type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar');guardar()">Guardar Categoria</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
        </div>
    </form> -->
  </div>
</ng-template>

<!-- Modal -->
<ng-template #modalPedidos let-modal>
  <div class="modal-header" style="background-color: #563D7C;">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="zona-pedidos" class="modal-body" *ngIf="ordenes">
      <div class="row" *ngFor="let orden of ordenes; let i = index" [attr.data-index]="i">
        <div class="col-12"><h3>Orden #{{ i }}</h3></div>
        <div class="col-12 my-3" style="background: #9CD0FA;">
          <h5>{{ orden.nombreProducto }}</h5>
        </div>
        <div class="col-12">
          <p>{{ orden.descripcion }}</p>
        </div>
        <div class="col-12">
          <p>Cantidad: {{ orden.cantidad }} Precio: ${{ orden.precio }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #modalCategorias let-modal>
  <div class="modal-header" style="background-color: #563D7C;">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="zona-categorias" class="modal-body row" *ngIf="categoria">
      <div class="col-12"><h3>{{ categoria.nombreCategoria }}</h3></div>
      <div class="col-12 my-3" style="background: #9CD0FA;">
        <img src="{{ categoria.icono }}" alt="Icono">
      </div>
      <div class="col-12">
        <p>{{ categoria.descripcion }}</p>
      </div>
      <!-- <h5 *ngIf="categoria.empresas">Empresas</h5> -->
      <div class="col-12">
        <ul>
          <li *ngFor="let empresa of categoria.empresas">
            {{empresa.nombreEmpresa}}
            <ul>
              <li *ngFor="let producto of empresa.productos">{{producto.nombreProducto}} - ${{producto.precio}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #modalUser let-modal>
  <div class="modal-header" style="background-color: #563D7C;">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="zona-productos" class="card p-3" style="border-radius: 12px;">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
  </div>
</ng-template>
