@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500;600&display=swap');
/* font-family: 'Exo 2', sans-serif; */
:root {
 --brand-color: #ffc107;
 --brand-dark: #000;
 --brand-white: #FFFFFF;
 --brand-light-gray: #f9f9f9;
}

body {
    padding-top: 6rem;
    font-family: 'Exo 2', sans-serif;
}

.bg-black {background-color: var(--brand-dark);}
.text-brand {color: var(--brand-color);}

.principal-category-selector {font-size: 2rem !important;}
.card-app:hover {
    background-color: var(--brand-color);
    border: var(--brand-color);
    color: var(--brand-white);
    cursor: pointer;
}

.card-app .icon-star {color: var(--brand-color);}
.card-app:hover .icon-star {color: var(--brand-white);}


.avatar {cursor: pointer}
.avatar-dropdown {position: relative;display: inline-block;} 
.avatar-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--brand-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--brand-dark);;
    z-index: 1;
} 
.avatar-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.avatar-dropdown-content a:hover {background-color: var(--brand-color);color: var(--brand-white);}
.avatar-dropdown:hover .avatar-dropdown-content {display: block}