@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500;600&display=swap');
/* font-family: 'Exo 2', sans-serif; */
:root {
 --brand-color: #ffc107;
 --brand-dark: #000;
 --brand-white: #FFFFFF;
}

body {
    padding-top: 6rem;
    font-family: 'Exo 2', sans-serif;
}

.bg-black {background-color: var(--brand-dark);}
.text-brand {color: var(--brand-color);}

.principal-category-selector {font-size: 2rem !important;}
.card-active:hover {
    background-color: var(--brand-color);
    border: #ffc107;
    color: var(--brand-white);
}

.card-active .icon-star {color: var(--brand-color);}
.card-active:hover .icon-star {color: var(--brand-white);}